<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Wall of Tweets 9 (SPV)</title>
<link href="wallstyle.css" rel="stylesheet" type="text/css" />
</head>
<body class="wallbody">
	<div class="topBar"></div>
	<div class="heading">
		<h1 class="walltitle">Wall of Tweets 9 (Single Page Version)</h1>
	</div>
	<div id="newTweet"></div>

	<div id='tweet_list'></div>

	<script type="text/template" id="login-temp">
		username: <input type="text" id="username" name="username" size="20" required /> 
		password: <input type="password" id="password" name="password" size="20" required />
		<input type="submit" id="logbut" value="login">
	</script>

	<script type="text/template" id="tpl-new-tweet">
			<textarea id="message_body" rows="3" cols="90" wrap></textarea>
			<input type="submit" id="ntbut" value="Tweet!">
	</script>

	<script type="text/template" id="logout-temp">
        logged as <em><%= username %></em> 
		<input type="submit" id="logoutbut" value="logout">
	</script>

	<script type="text/template" id="tpl-tweet-list-item">
		<div class="likes">
			<span class="numlikes"><%= likes %></span><br> <span class="plt">people
				like this</span><br> <br>
			<button class="like">like</button>
			<br>
		</div>
		<div class="item">
			<h4>
				<em><%= authorName %></em> on <%= tweetDate %> @ <%= tweetHour %>
			</h4>
			<p><%= content %></p>
		</div>
	</script>

	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script
		src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
	<script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>

	<script src="main.js"></script>
</body>
</html>